<head>
    <title>openMap</title>
</head>

<body>
        <div class="config">
            <form action = "/mypage/config/hosp"  method="post" enctype="multipart/form-data">
                <input type="hidden" name="comp_id" value=<%= myHosp.compId %> >
                <input type="hidden" name="HospType" value=<%= myHosp.HospType%> >

                <label for="compName">업체이름</label>
                <br>
                <input name="compName" id="compName" type="text" value = "<%= myHosp.compName %>" disabled >
                <br>
                <label for="addr">도로명주소</label>
                <br>
                <input name="addr" id="addr" type="text" required placeholder="<%= myHosp.address %>" disabled >
                <br>
                <label for="telNum">전화번호</label>
                <br>
                <input name="telNum" id="telNum" type="tel" value="<%= myHosp.tel %>" >
                <br>
                <label for="picture">업체사진</label>
                <br>
                <input name="picture" id="picture" type="file" accept="image/png, image/jpeg" />
                <br>
                <p>외부사진 혹은 내부사진을 업로드 해주세요.</p>
                <div class="leave">
                    <input type='checkbox' name="todayClosed" id="todayClosed" value="true" <% if(myHosp.todayClosed){ %> checked <% } %> />오늘휴무
                    <input type='checkbox' name="earlyClosed" id="earlyClosed" value="true" <% if(myHosp.earlyClosed){ %> checked <% } %> />조기마감
                    <input type='checkbox' name="vacation" id="vacation" value="true" <% if(myHosp.vacation){ %> checked <% } %> />단기휴무
                </div>
                <br>
                <label for="name">정기휴무</label>
                <br>
                <div class="closeDay">
                    <input type='checkbox' name="mon" id="mon" value="true" <% if(myHosp.mon){ %> checked <% } %> />월요일
                    <input type='checkbox' name="tue" id="tue" value="true" <% if(myHosp.tue){ %> checked <% } %> />화요일
                    <input type='checkbox' name="wed" id="wed" value="true" <% if(myHosp.wed){ %> checked <% } %> />수요일
                    <input type='checkbox' name="thu" id="thu" value="true" <% if(myHosp.thu){ %> checked <% } %> />목요일
                    <input type='checkbox' name="fri" id="fri" value="true" <% if(myHosp.fri){ %> checked <% } %> />금요일
                    <input type='checkbox' name="sat" id="sat" value="true" <% if(myHosp.sat){ %> checked <% } %> />토요일
                    <input type='checkbox' name="sun" id="sun" value="true" <% if(myHosp.sun){ %> checked <% } %> />일요일
                    <br>
                </div>
                <br>
                <div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openMon" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenMon %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedMon" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseMon %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openTue" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenTue %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedTue" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseTue %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openWed" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenWed %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedWed" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseWed %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openThu" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenThu %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedThu" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseThu %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openFri" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenFri %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedFri" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseFri %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openSat" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenSat %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedSat" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseSat %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openSun" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenSun %>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedSun" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseSun %>>
                    </div>
                    <div>
                        <label for="openTime">오픈시각</label>
                        <input type="time" class="timepicker" name="openVac" id="openTime" min="00:00" max="23:59" value= <%= myHosp.HospOpenVac%>>
                        <label for="closedTime">마감시각</label>
                        <input type="time" class="timepicker" name="closedVac" id="closedTime" min="00:00" max="23:59" value= <%= myHosp.HospCloseVac %>>
                    </div>

                    <input type="checkbox" name="24hours" id="24hours" value="true" onclick='get24hoursValue(event)' />24시간 영업
                </div>
                <div>
                    <label for="breakStart">점심시간 시작</label>
                    <input type="time" class="timepicker" name="breakStart" id="breakStart" value=<%= myHosp.breakStart %> />
                    <label for="breakEnd">점심시간 끝</label>
                    <input type="time" class="timepicker" name="breakEnd" id="breakEnd" value=<%= myHosp.breakEnd %> />
                    <input type="checkbox" name="noBreak" id="noBreak" value="true" onclick='getNoBreakValue(event)' />점심시간 없음
                </div>
                <input type="submit" value="업체 정보 수정하기" />
            </form>
        </div>
</body>


<script>
    function get24hoursValue(event) {
    const openForm = document.getElementById('openTime');
    const closedForm = document.getElementById('closedTime');
    const tomorrowForm = document.getElementById('tomorrow');

        if (event.target.checked) {
            openForm.disabled = true;
            closedForm.disabled = true;
            tomorrowForm.disabled = true;
            tomorrowForm.checked = false;
            document.getElementById('openTime').value="00:00";
            document.getElementById('closedTime').value="23:59";
        } else {
            openForm.disabled = false;
            closedForm.disabled = false;
            tomorrowForm.disabled = false;
        }
    };

</script>