<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="map" style="width: 100%; height: 100%; position: fixed;"></div>
      <div id="slideNav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="option">
          <div>
            <form onsubmit="searchPlaces(); return false;">
              검색어를 입력하세요
              <input type="text" id="keyword" size="15"> 
              <button type="submit">검색하기</button> 
            </form>
          </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=apikey%>&libraries=services,clusterer,drawing"></script>
  <script>
    let closedRestaurantPositions = []; // 오늘 마감 식당 위치 객체를 가지고 있을 배열입니다
    let closedCafePositions = []; // 오늘 마감 휴게음식점 위치 객체를 가지고 있을 배열입니다
    let closedHospitalPositions = []; // 오늘 마감 병원 위치 객체를 가지고 있을 배열입니다
    let todayClosedRestaurantPositions = []; // 오늘 휴무 식당 위치 객체를 가지고 있을 배열입니다
    let todyClosedCafePositions = []; // 오늘 휴무 휴게음식점 위치 객체를 가지고 있을 배열입니다
    let todayClosedHospitalPositions = []; // 오늘 휴무 병원 위치 객체를 가지고 있을 배열입니다
    let openedRestaurantPositions = []; // 영업중인 식당 위치 객체를 가지고 있을 배열입니다
    let openedCafePositions = []; // 영업중인 휴게음식점 위치 객체를 가지고 있을 배열입니다
    let openedHospitalPositions = []; // 영업중인 병원 위치 객체를 가지고 있을 배열입니다

    let closedRestaurant = []; // 오늘 마감 식당 객체를 가지고 있을 배열입니다
    let closedCafe = []; // 오늘 마감 휴게음식점 객체를 가지고 있을 배열입니다
    let closedHospital = []; // 오늘 마감 병원 객체를 가지고 있을 배열입니다
    let todayClosedRestaurant = []; // 오늘 휴무 식당 객체를 가지고 있을 배열입니다
    let todayClosedCafe = []; // 오늘 휴무 휴게음식점 객체를 가지고 있을 배열입니다
    let todayClosedHospital = []; // 오늘 휴무 병원 객체를 가지고 있을 배열입니다
    let openedRestaurant = []; // 영업중인 식당 객체를 가지고 있을 배열입니다
    let openedCafe = []; // 영업중인 휴게음식점 객체를 가지고 있을 배열입니다
    let openedHospital = []; // 영업중인 병원 객체를 가지고 있을 배열입니다
  </script>
  <% const day = new Date().getDay(); %>
  <% closedRestaurantTotal.forEach(r => { %>
    <script>
      closedRestaurantObject = {
        compName:'<%= r.dataValues.compName %>',
        address: '<%= r.dataValues.address %>',
        tel: '<%= r.dataValues.tel %>',
        restOpen: '<%= r.dataValues.restOpen %>',
        restClosed: '<%= r.dataValues.restClosed %>',
        breakStart: '<%= r.dataValues.breakStart %>',
        breakEnd: '<%= r.dataValues.breakEnd %>',
        image: '<%= r.dataValues.image %>',
      };
      closedRestaurant.push(closedRestaurantObject);
    </script>
  <% }); %>
  <% closedCafeTotal.forEach(c => { %>
    <script>
      closedCafeObject = {
        compName:'<%= c.dataValues.compName %>',
        address: '<%= c.dataValues.address %>',
        tel: '<%= c.dataValues.tel %>',
        cafeOpen: '<%= c.dataValues.cafeOpen %>',
        cafeClosed: '<%= c.dataValues.cafeClosed %>',
        cafeType: '<%= c.dataValues.cafeType %>',
        image: '<%= c.dataValues.image %>',
      };
      closedCafe.push(closedCafeObject);
    </script>
  <% }); %>
  <% if(day == 0){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenSun %>',
        hospitalClosed: '<%= h.dataValues.HospCloseSun %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}else if(day == 1){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenMon %>',
        hospitalClosed: '<%= h.dataValues.HospCloseMon %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}else if(day == 2){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenTue %>',
        hospitalClosed: '<%= h.dataValues.HospCloseTue %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}else if(day == 3){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenWed %>',
        hospitalClosed: '<%= h.dataValues.HospCloseWed %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}else if(day == 4){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenThu %>',
        hospitalClosed: '<%= h.dataValues.HospCloseThu %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}else if(day == 5){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenFri %>',
        hospitalClosed: '<%= h.dataValues.HospCloseFri %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}else if(day == 6){closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenSat %>',
        hospitalClosed: '<%= h.dataValues.HospCloseSat %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      closedHospital.push(closedHospitalObject);
    </script>
  <% })}; %>
  <% todayClosedRestaurant.forEach(r => { %>
    <script>
      todayClosedRestaurantObject = {
        compName:'<%= r.dataValues.compName %>',
        address: '<%= r.dataValues.address %>',
        tel: '<%= r.dataValues.tel %>',
        image: '<%= r.dataValues.image %>',
      };
      todayClosedRestaurant.push(todayClosedRestaurantObject);
    </script>
  <% }); %>
  <% todayClosedCafe.forEach(c => { %>
    <script>
      todayClosedCafeObject = {
        compName:'<%= c.dataValues.compName %>',
        address: '<%= c.dataValues.address %>',
        tel: '<%= c.dataValues.tel %>',
        cafeType: '<%= c.dataValues.cafeType %>',
        image: '<%= c.dataValues.image %>',
      };
      todayClosedCafe.push(todayClosedCafeObject);
    </script>
  <% }); %>
  <% todayClosedHospital.forEach(c => { %>
    <script>
      todayClosedHospitalObject = {
        compName:'<%= c.dataValues.compName %>',
        address: '<%= rc.dataValues.address %>',
        tel: '<%= c.dataValues.tel %>',
        image: '<%= c.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      todayClosedHospital.push(todayClosedHospitalObject);
    </script>
  <% }); %>
  <% openedRestaurant.forEach(r => { %>
    <script>
      openedRestaurantObject = {
        compName:'<%= r.dataValues.compName %>',
        address: '<%= r.dataValues.address %>',
        tel: '<%= r.dataValues.tel %>',
        restOpen: '<%= r.dataValues.restOpen %>',
        restClosed: '<%= r.dataValues.restClosed %>',
        breakStart: '<%= r.dataValues.breakStart %>',
        breakEnd: '<%= r.dataValues.breakEnd %>',
        image: '<%= r.dataValues.image %>',
      };
      openedRestaurant.push(openedRestaurantObject);
    </script>
  <% }); %>
  <% openedCafe.forEach(c => { %>
    <script>
      openedCafeObject = {
        compName:'<%= c.dataValues.compName %>',
        address: '<%= c.dataValues.address %>',
        tel: '<%= c.dataValues.tel %>',
        cafeOpen: '<%= c.dataValues.cafeOpen %>',
        cafeClosed: '<%= c.dataValues.cafeClosed %>',
        cafeType: '<%= r.dataValues.cafeType %>',
        image: '<%= c.dataValues.image %>',
      };
      openedCafe.push(openedCafeObject);
    </script>
  <% }); %>
  <% if(day == 0){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenSun %>',
        hospitalClosed: '<%= h.dataValues.HospCloseSun %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}else if(day == 1){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenMon %>',
        hospitalClosed: '<%= h.dataValues.HospCloseMon %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}else if(day == 2){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenTue %>',
        hospitalClosed: '<%= h.dataValues.HospCloseTue %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}else if(day == 3){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenWed %>',
        hospitalClosed: '<%= h.dataValues.HospCloseWed %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}else if(day == 4){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenThu %>',
        hospitalClosed: '<%= h.dataValues.HospCloseThu %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}else if(day == 5){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenFri %>',
        hospitalClosed: '<%= h.dataValues.HospCloseFri %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}else if(day == 6){openedHospital.forEach(h => { %>
    <script>
      openedHospitalObject = {
        compName:'<%= h.dataValues.compName %>',
        address: '<%= h.dataValues.address %>',
        tel: '<%= h.dataValues.tel %>',
        hospitalOpen: '<%= h.dataValues.HospOpenSat %>',
        hospitalClosed: '<%= h.dataValues.HospCloseSat %>',
        image: '<%= h.dataValues.image %>',
        HospType: '<%= h.dataValues.HospType %>',
        content: '<%= h.dataValues.content %>'
      };
      openedHospital.push(openedHospitalObject);
    </script>
  <% })}; %>
  <% closedRestaurantTotal.forEach(r => { %>
    <script>
      closedRestaurantPositions.push(new kakao.maps.LatLng(parseFloat("<%= r.dataValues.latitude %>"), parseFloat("<%= r.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% closedCafeTotal.forEach(c => { %>
    <script>
      closedCafePositions.push(new kakao.maps.LatLng(parseFloat("<%= c.dataValues.latitude %>"), parseFloat("<%= c.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% closedHospitalTotal.forEach(h => { %>
    <script>
      closedHospitalPositions.push(new kakao.maps.LatLng(parseFloat("<%= h.dataValues.latitude %>"), parseFloat("<%= h.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% todayClosedRestaurant.forEach(r => { %>
    <script>
      todayClosedRestaurantPositions.push(new kakao.maps.LatLng(parseFloat("<%= r.dataValues.latitude %>"), parseFloat("<%= r.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% todayClosedCafe.forEach(c => { %>
    <script>
      todayClosedCafeMarkers.push(new kakao.maps.LatLng(parseFloat("<%= c.dataValues.latitude %>"), parseFloat("<%= c.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% todayClosedHospital.forEach(h => { %>
    <script>
      todayClosedHospitalPositions.push(new kakao.maps.LatLng(parseFloat("<%= h.dataValues.latitude %>"), parseFloat("<%= h.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% openedRestaurant.forEach(r => { %>
    <script>
      openedRestaurantPositions.push(new kakao.maps.LatLng(parseFloat("<%= r.dataValues.latitude %>"), parseFloat("<%= r.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% openedCafe.forEach(c => { %>
    <script>
      openedCafePositions.push(new kakao.maps.LatLng(parseFloat("<%= c.dataValues.latitude %>"), parseFloat("<%= c.dataValues.longitude %>")))
    </script>
  <% }); %>
  <% openedHospital.forEach(h => { %>
    <script>
      openedHospitalPositions.push(new kakao.maps.LatLng(parseFloat("<%= h.dataValues.latitude %>"), parseFloat("<%= h.dataValues.longitude %>")))
    </script>
  <% }); %>
  <script src="/javascripts/mapLoader.js"></script>
  <script src="/javascripts/slideNav.js"></script>
</html>
