<head>
    <script language="javascript" src="/javascripts/company/registCafe.js"></script>
    <link rel="stylesheet" href="/stylesheets/registCompDetail.css" />
</head>

<body>
    <div class="step">
        <h1>휴게 음식점 등록하기</h1>
        <h2>STEP 2</h2>
    </div>
    <form name="cafeRegistForm" id="restRegistForm" action="/compRegist/registComp/finished" method="post">
        <input type="checkbox" name="allDays" id="allDays" value="true" />24시간 영업
        <br>
        <br>
        <div>
            <div>오픈시각
                <select name="openTime" class="runtime">오픈시각(시)
                    <% for(var i=0; i < 24; i++){ %>
                        <option value="<%=i%>">
                            <%=i%>
                        </option>
                        <% } %>
                </select>
                시
                <select name="openTime" class="runtime">오픈시각(분)
                    <% for(var i=0; i < 60; i+=10){ %>
                        <option value="<%=i%>">
                            <%=i%>
                        </option>
                        <% } %>
                </select>
                분
            </div>
            <br>
            <div>마감시각
                <select name="closedTime" class="runtime">마감시각(시)
                    <% for(var i=0; i < 24; i++){ %>
                        <option value="<%=i%>">
                            <%=i%>
                        </option>
                        <% } %>
                </select>
                시
                <select name="closedTime" class="runtime">마감시각(분)
                    <% for(var i=0; i < 60; i+=10){ %>
                        <option value="<%=i%>">
                            <%=i%>
                        </option>
                        <% } %>
                </select>
                분
                <input type="checkbox" name="tomorrow" id="tomorrow" value="true" />익일
            </div>
            <br>
            
        </div>
        <div>
            <label for="cafeType">업종(선택 필수)</label>
            <select name="cafeType" , id="cafeType" required>
                <option value="">업종</option>
                <option value="커피숍">커피숍</option>
                <option value="편의점">편의점</option>
                <option value="패스트푸드">패스트푸드</option>
            </select>
        </div>
        <br>

        <div>
            <label for="menu">주요메뉴</label>
            <input type="button" id="menubtn" value="+" onclick="addMenu()">
            <br>
            <div id="menuBox">
                <input type="text" class="input_text" name="menu" id="menu" placeholder="메뉴명" required />
                <input type="number" class="input_text" name="price" id="price" placeholder="가격" required />원
                <input type="button" class="btn"value="삭제" onclick="removeMenu(this)">
            </div>
            <div id="field"></div>
        </div>

        <input type="submit" class="btn" id="endbtn" value="업체등록하기" />
    </form>
</body>