<head>
    <title>openMap</title>
    <script src="https://kit.fontawesome.com/e2c07342b0.js" crossorigin="anonymous"></script>
</head>

<body>
        <div class="config">
            <form action = "/mypage/config/rest"  method="post" enctype="multipart/form-data">
                <h1>업체 정보 수정</h1>
                <div class="controlbar">
                    <input type="hidden" name="comp_id" value=<%= myRest.compId %> >
                    <div class="compinfo">
                        <label for="compName">업체이름</label>
                        <br>
                        <input name="compName" id="compName" type="text" value = "<%= myRest.compName %>" disabled >
                        <br><br>
                        <label for="addr">도로명주소</label>
                        <br>
                        <input name="addr" id="addr" type="text" required placeholder="<%= myRest.address %>" disabled >
                        <br><br>
                        <label for="telNum">전화번호</label>
                        <br>
                        <input name="telNum" id="telNum" type="tel" placeholder="<%= myRest.tel %>" >
                    </div>
                    <br>
                        <label for="picture">업체사진</label>
                        <br>
                        <input name="picture" id="picture" type="file" accept="image/png, image/jpeg" />
                        <p>외부사진 혹은 내부사진을 업로드 해주세요.</p>
                    <div class="leave">
                        <input type='checkbox' name="todayClosed" id="todayClosed" value="true" <% if(myRest.todayClosed){ %> checked <% } %> />오늘휴무
                        <input type='checkbox' name="earlyClosed" id="earlyClosed" value="true" <% if(myRest.earlyClosed){ %> checked <% } %> />조기마감
                        <input type='checkbox' name="vacation" id="vacation" value="true" <% if(myRest.vacation){ %> checked <% } %> />단기휴무
                    </div>
                    <br>
                    <div class="closeDay">
                        <label>정기휴무</label>
                        <br>
                        <input type='checkbox' name="mon" id="mon" value="true" <% if(myRest.mon){ %> checked <% } %> />월요일
                        <input type='checkbox' name="tue" id="tue" value="true" <% if(myRest.tue){ %> checked <% } %> />화요일
                        <input type='checkbox' name="wed" id="wed" value="true" <% if(myRest.wed){ %> checked <% } %> />수요일
                        <input type='checkbox' name="thu" id="thu" value="true" <% if(myRest.thu){ %> checked <% } %> />목요일
                        <input type='checkbox' name="fri" id="fri" value="true" <% if(myRest.fri){ %> checked <% } %> />금요일
                        <input type='checkbox' name="sat" id="sat" value="true" <% if(myRest.sat){ %> checked <% } %> />토요일
                        <input type='checkbox' name="sun" id="sun" value="true" <% if(myRest.sun){ %> checked <% } %> />일요일
                        <br>
                    </div>
                    <br>
                    <div class="open_close">
                        <span style="display:inline-block">
                            <label for="openTime" style="display:block">오픈시각</label>
                            <input type="time" class="timepicker" name="openTime" id="openTime" min="00:00" max="23:59" value=<%= myRest.restOpen %> />
                        </span>
                        
                        <span style="display:inline-block">
                            <label for="closedTime" style="display:inline">마감시각</label>
                            <input type="time" class="timepicker" name="closedTime" id="closedTime" min="00:00" max="23:59" value=<%= myRest.restClosed %> />
                        </span>
                        <input type="checkbox" name="tomorrow" id="tomorrow" value="true" />익일
                        <input type="checkbox" name="_24hours" id="24hours" value="true" onclick='get24hoursValue(event)' />24시간 영업
                    </div>
                    <div class="break">
                        <span style="display:inline-block">
                            <label for="breakStart" style="display:block">브레이크 시작시각</label>
                            <input type="time" class="timepicker" name="breakStart" id="breakStart" value=<%= myRest.breakStart %> />
                        </span>
                        <span style="display:inline-block">
                            <label for="breakEnd" style="display:block">브레이크 마감시각</label>
                            <input type="time" class="timepicker" name="breakEnd" id="breakEnd" value=<%= myRest.breakEnd %> />
                        </span>
                        <input type="checkbox" name="noBreak" id="noBreak" value="true" onclick='getNoBreakValue(event)' />브레이크 없음
                    </div>
                    <div class="typeSelect">
                        <label for="restType" style="display:block">음식 종류(선택 필수)</label>
                        <select name="restType" , id="restType" class="restType" required>
                            <option value="">음식종류</option>
                            <option value="한식" <% if(myRest.restType == '한식'){ %> selected <% } %> >한식  </option>
                            <option value="중식"  <% if(myRest.restType == '중식'){ %> selected <% } %> >중식 </option>
                            <option value="일식" <% if(myRest.restType == '일식'){ %> selected <% } %> >일식 </option>
                            <option value="경양식" <% if(myRest.restType == '경양식'){ %> selected <% } %> >경양식 </option>
                            <option value="분식" <% if(myRest.restType == '분식'){ %> selected <% } %> >분식 </option>
                            <option value="고깃집" <% if(myRest.restType == '고깃집'){ %> selected <% } %> >고깃집 </option>
                            <option value="술집" <% if(myRest.restType == '술집'){ %> selected <% } %> >술집 </option>
                            <option value="치킨" <% if(myRest.restType == '치킨'){ %> selected <% } %> >치킨 </option>
                            <option value="기타" <% if(myRest.restType == '기타'){ %> selected <% } %> >기타 </option>
                        </select>
                    </div>
            
                    <div class="menuList">
                        <label for="menu">주요메뉴</label>
                        <input type="button" value="+" onclick="addMenu()">
                        
                        <br>
                        <br>
                        <div id="menuBox">
                            <% menu.forEach(m => { %> 
                            <div class ="onemenu">
                                <input type="text" name="menu" id="menu" placeholder="메뉴명" value=<%= m.menuName%>>
                                <input type="number" name="price" id="price" placeholder="가격" value=<%= m.price%>>원
                            </div>
                            <% }); %>
                        </div>
                        <div id="field"></div>
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="업체 정보 수정하기" />
                </div>
            </form>
        </div>
</body>


<script>
    function get24hoursValue(event) {
    const openForm = document.getElementById('openTime');
    const closedForm = document.getElementById('closedTime');
    const tomorrowForm = document.getElementById('tomorrow');

        if (event.target.checked) {
            openForm.disabled = true;
            closedForm.disabled = true;
            tomorrowForm.disabled = true;
            tomorrowForm.checked = false;
            document.getElementById('openTime').value="00:00";
            document.getElementById('closedTime').value="23:59";
        } else {
            openForm.disabled = false;
            closedForm.disabled = false;
            tomorrowForm.disabled = false;
        }
    };
    function getNoBreakValue(event){
        const breakStartForm = document.getElementById('breakStart');
        const breakEndForm = document.getElementById('breakEnd');
        if (event.target.checked) {
            breakStartForm.value=null;
            breakEndForm.value=null;
            breakStartForm.disabled = true;
            breakEndForm.disabled = true;
        }else{
            breakStartForm.disabled = false;
            breakEndForm.disabled = false;
        }
    }

    function addMenu(){
    var newMenu = document.createElement('div');
    newMenu.classList.add("onemenu");
    newMenu.innerHTML = `<input type="text" name="menu" id="menu" placeholder="메뉴명">
                        <input type="number" name="price" id="price" placeholder="가격">원`;
    document.getElementById('menuBox').append(newMenu);
    };

    (function (){
    var newMenu = document.createElement('div');
    newMenu.classList.add('onemenu');
    newMenu.innerHTML = `<input type="text" name="menu" id="menu" placeholder="메뉴명">
                        <input type="number" name="price" id="price" placeholder="가격">원`;
    document.getElementById('menuBox').append(newMenu);
    })();
    (function (){
    var newMenu = document.createElement('div');
    newMenu.classList.add('onemenu');
    newMenu.innerHTML = `<input type="text" name="menu" id="menu" placeholder="메뉴명">
                        <input type="number" name="price" id="price" placeholder="가격">원`;
    document.getElementById('menuBox').append(newMenu);
    })();

</script>

<style>
    :root {
        --main-bg-color: #FBF9FC;
        --text-color: rgb(165, 165, 165);
        --openmap-orange: #FE8201;
        --openmap-orange-light: #ffcf9d;
        --openmap-purple: #894AFF;
        --openmap-green: #77C3CA;
    }
    .config{
        padding-left: 80px;
        padding-top: 30px;
    }
    .controlbar{
        overflow-y: scroll;
        width: 780px;
        height: 700px;
    }
   .compinfo input{
       background-color: #F0F0F0;
       width: 620px;
       height:30px;
       padding:5px; 
       border: none;
       cursor: pointer;
       border-radius: 20px;
   }

   .leave{
       padding-top: 30px;
   }

   .closeDay{
       padding-top: 30px;
   }

   .open_close{
       padding-top:30px;
   }

   .open_close input[type=time] {
       background-color: #F0F0F0;
       width: 150px;
       height:30px;
       padding:5px; 
       border: none;
       cursor: pointer;
       border-radius: 20px;
       font-size: 16px;
   }

   .break{
    padding-top:30px;
   }

   .break input[type=time] {
       background-color: #F0F0F0;
       width: 150px;
       height:30px;
       padding:5px; 
       border: none;
       cursor: pointer;
       border-radius: 20px;
       font-size: 16px;
   }

   .typeSelect{
    padding-top:30px;
   }
    select {
        width: 150px;
        padding: .8em .5em;
        border: none;
        background-color: #F0F0F0;
        font-family: inherit; 
        border-radius: 20px;
    }

    .menuList input{
        background-color: #F0F0F0;
       width: 150px;
       height:30px;
       padding:5px; 
       border: none;
       cursor: pointer;
       border-radius: 20px;
       font-size: 16px;
    }

    .menuList{
        padding-top: 30px;
    }

    .menuList input[type=button] {
        background-color:#F0F0F0;
        color:black;
        width: 30px;
        height:30px;
        font-size: 20px;
        font-weight: bold;
        padding:0;
    }

    .onemenu{
        padding-bottom: 10px;
        font-size: 15px;
    }

    .submit{
        padding-top: 30px;
    }

    .submit input{
        background-color: var(--openmap-purple);
        color:white;
       width: 200px;
       height:34px;
       padding:5px; 
       border: none;
       cursor: pointer;
       border-radius: 20px;
       font-size: 16px;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    label{
        font-weight: bold;
    }

</style>